.avoid-clicks {
  pointer-events: none;
}
.addColor {
  transition: 1s;
  background: #9DB63B;
}
body {
  font-family: monospace;
  background-attachment: fixed;
}
.container {
  opacity: 0.65;
  left: 50%;
  top: 50%;
  border-radius: 25px;
  float: none;
  margin: 0 auto;
  /* height: 550px; */
  padding-top: 30px;
  padding: 30px;
  width: 570px;
}
.box {
  font-weight: bold;
  flex-grow: 1;
  font-size: 40px;
  height: 150px;
  min-width: 150px;
  margin: 6px;
  border-radius: 10px;
  outline: none;
  border: none;
  box-shadow: 2px 3px 10px black;
}
#buttons {
  padding-left: 3px;
  padding-right: 1px;
}
#buttons .input {
  position: absolute;
}
.box:hover {
  background: #10ACCD;
}
#menu {
  margin: 0 auto;
  transform: translate(-50%, -50%); 
  border-radius: 10px;
  box-shadow: 3px 3px 35px black;
  background: white;
  opacity: 0.9;
  padding: 40px;
  position: absolute; 
  width: 310px;
  font-size: 30px;
  text-align: center;
  left: 50%;
  top: 50%;
  z-index: 3;
}
#menu input {
  color: white;
  background: black;
  border-radius: 8px;
  margin-top: 5%;
  padding: 30px;
  border: none;
  outline: none;
}
#menu input:hover {
  background: #1f1f1c;
}
.centered {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#postgame {
  margin: 0 auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 3px 3px 35px black;
  background: white;
  opacity: 0.85;
  padding: 40px;
  position: absolute;
  width: 310px;
  font-size: 30px;
  text-align: center;
  z-index: 3;
}
#postgame input {
  color: white;
  background: black;
  border-radius: 8px;
  margin-top: 5%;
  padding: 25px;
  border: none;
  outline: none;
}
#postgame input:hover {
  background: #1f1f1c;
}
