<div class="container">
  <div class="flex-container">
    <div class="flex-item" id="title">
      <h1>About Me</h1>
    </div>
    <div class="flex-item" id="profile">
      <div class="profile-image">
        <img  src="{{ basic.imgSrc }}" border="0">
        </div>
      </div>
    <div class="flex-item" id="skills">
      <h1>Technolgies I use</h1>
      <div *ngFor="let skill of skills">
        <p>{{ skill }}</p>
      </div>
    </div>    
    <div class="flex-item" id="social"></div>
  </div>
</div>