@import url('https://fonts.googleapis.com/css?family=Rajdhani|Open+Sans|Work+Sans');
h1, .h1 {
    font-family: 'Rajdhani', sans-serif;    
}
.container {
    font-family: 'Open Sans', sans-serif;    
    max-width: 690px;
    padding: 0;
    margin: 0 auto;
}
.flex-container {
    display: flex;
    max-width: inherit;
    flex-direction: row; 
    flex-wrap: wrap;
    margin: 0 auto;
    margin-bottom: 70px;
}
.card {
    background-color: rgba(0,0,0,0.2);
    transition: 0.2s;
    cursor: pointer;
    border-radius: 3px;
    padding: 15px;
    min-width: 250px;
    width: 100%;
    margin: 15px auto;
}
.card:hover {
    transform: scale(1.075);
}
.image {
    padding: 25px;
    margin: 0 auto;
}
.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-height: 250px;
} 
.column {
    display: inline-block;
}
img {
    border-radius: 50%;
    box-shadow: 1px 1px 20px black;
    filter: grayscale(30%);
    height: 100px;
    margin: auto;
}
md-card-title, .text {
    text-align: center;
    width: 100%;      
}
.skill {
    display: inline-block;
    background-color: rgba(0,0,0,0.2);
    font-size: 15px;
    padding: 6px 12px;
    margin: 8px;
}
.skill-content {
    text-align: center;
}
.intro {    
    font-size: 20px;
    padding: 40px;
}
.fill {
    height: 75%;
}
.social-content {
    display: flex;
}
.btns {
    display: flex;
    padding: 25px;
    margin: 0 auto;
}
.link {
  min-width: 25px; 
  background-color: rgba(0,0,0,0.2);
  padding: 20px;
  color: white;
  font-family: share tech mono;
  margin: 8px;
}
.link:hover {
  transition: 0.4s;
  color: black;
  background: #69397B;
}
.fa {
    font-size: 30px;
}