<div class="container">
  <div class="flex-container">
    <div class="flex-item" id="title">
      <h1>About Me</h1>
    </div>
    <div class="flex-item" id="profile">
      <div class="profile-image">
        <img src="http://image.ibb.co/gF2GAQ/13043349_1139600332737988_7843688792167153729_n.jpg" alt="13043349_1139600332737988_7843688792167153729_n" border="0">
        </div>
      </div>
    <div class="flex-item" id="skills"></div>
    <div class="flex-item" id="social"></div>
  </div>
</div>