<div class="row">
   <div class="col s12 m6 offset-m3">
      <div class="card transparent z-depth-3">
         <div class="card-content white-text">
            <img class="portrait responsive-img" src="/assets/profile.jpg">
            <span class="card-title center-align">about me</span>
            <p class="scale-transition">Hi there! My name is Nick and I'm a
               <strong class="yellow-text text-darken-2">Web-Developer</strong> from Stuart, Florida. I enjoy building user-friendly apps that are
               <strong class="yellow-text text-darken-2">mobile-responsive</strong> and beautifully designed.</p>
         </div>
      </div>
   </div>
</div>
<div class="row">
   <a href="javascript:;" onclick="$('html, body').animate({ scrollTop: $('#section_2').offset().top }, 500);"
      style="display: block; margin: auto; position: relative;" class="btn btn-floating pulse center-align yellow darken-3">
      <i class="material-icons">arrow_downward</i>
   </a>
</div>
</div>
<div class="container">
   <div class="row" id="section_2">
      <div class="section-2 white">
         <h1 style="text-align: center; font-family: Roboto">Featured Projects</h1>
         <div class="row">
            <div class="selectorClass col s12 m4">
               <a href="/portfolio/project_4">
                  <div class="card">
                     <div class="card-image">
                        <img src="assets/tic-tac-toe.jpg">
                     </div>
                     <div class="card-content">
                        <p>A game of Tic-Tac-Toe with an AI opponent I wrote with JavaScript. You can only tie at best!</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="selectorClass col s12 m4">
               <a href="/portfolio/project_7">
                  <div class="card">
                     <div class="card-image img-max-height">
                        <img src="assets/razz.jpg">
                     </div>
                     <div class="card-content">
                        <p>A simple User interface demo I made using Vue.js, Express.js, and MongoDb.</p>
                     </div>
                  </div>
               </a>
            </div>
            <div class="selectorClass col s12 m4">
               <a href="/portfolio/project_2">
                  <div class="card">
                     <div class="card-image">
                        <img src="assets/simon.jpg">
                     </div>
                     <div class="card-content">
                        <p>Clone of the famous 1980's memory game. Looks just like the realy thing!</p>
                     </div>
                  </div>
               </a>
            </div>
         </div>
         <div class="row">
            <a href="/portfolio" class="waves-effect waves-light btn-large col s12 m12 yellow darken-2">View All Projects</a>
         </div>
      </div>
   </div>

   <div class="row">
      <div id="contact" class="section-3 white">
      </div>
   </div>
</div>