<head>
   <title>Pomodoro clock</title>
   <link rel="stylesheet" href="/stylesheets/pomodoro.css">
</head>
<div class="content-wrapper" style="background-color: #79A9B0;">
   <div class="pomodoro-body" style="width: 305px; margin: auto; background: #383838;">
      <div class="flex-row row-1">
         <h2 class="title">Pomodoro timer</h2>
         <h1 class="timerDisplay" value="1500000">25 : 00</h1>
         <p class="break status animatedText">Break!</p>
         <p class="session status animatedText">Session!</p>
      </div>
      <div class="flex-row row-2">
         <div class="selector">
            <p class="child">break</p>
            <button class="child break" value="60000">+</button>
            <p class="child value" id="break" value="300000">5</p>
            <button class="child break" value="-60000">-</button>
         </div>
         <div class="selector">
            <p class="child">session</p>
            <button class="child session" value="60000">+</button>
            <p class="child value" id="session">25</p>
            <button class="child session" value="-60000">-</button>
         </div>
      </div>
      <div class="flex-row row-3">
         <button class="start toggle">start</button>
         <button class="reset toggle">reset</button>
      </div>
   </div>
</div>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="/js/pomodoro.js"></script>