<head>
   <link rel="stylesheet" href="/stylesheets/simon-game.css">
</head>

<div class="content-wrapper">
   <div class="simon-game-body">

      <div class="interface">
         <div class="interface-inner">
            <h1 class="brand">SIMON</h1>
            <div class="row1">
               <div class="light lightOff lightOn"></div>
               <div class="output off on">
                  <div class="count" value="0"> - - </div>
               </div>
               <button class="depress" id="strict"></button>
               <button class="depress" id="start" style="color: grey !important"></button>

            </div>
            <div class="row2">
               <label class="first">COUNT</label>
               <label class="second">START</label>
               <label class="third">STRICT</label>
            </div>

            <div class="row3">
               <label>OFF</label>
               <div class="slider" style="height: 30px">
                  <button id="switch" class=""></button>
               </div>
               <label>ON</label>
            </div>
         </div>
      </div>

      <audio src="https://s3.amazonaws.com/freecodecamp/simonSound1.mp3" id="a" autostart="true" hidden=true></audio>
      <audio src="https://s3.amazonaws.com/freecodecamp/simonSound2.mp3" id="b" autostart="true" hidden=true></audio>
      <audio src="https://s3.amazonaws.com/freecodecamp/simonSound3.mp3" id="c" autostart="true" hidden=true></audio>
      <audio src="https://s3.amazonaws.com/freecodecamp/simonSound4.mp3" id="d" autostart="true" hidden=true></audio>

      <div class="hover">
         <div class="light-green"></div>
         <div class="light-yellow"></div>
         <div class="light-red"></div>
         <div class="light-blue"></div>
      </div>

      <div class="overlay">
         <div class="cross"></div>
      </div>
      <div id="0" class="cell simon-green avoid-clicks green-click" data-val="0"></div>
      <div id="2" class="cell simon-red avoid-clicks red-click" data-val="2"></div>
      <div id="1" class="cell simon-yellow avoid-clicks yellow-click" data-val="1"></div>
      <div id="3" class="cell simon-blue avoid-clicks blue-click" data-val="3"></div>
   </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="/js/simon-game.js"></script>