<head>
   <link rel="stylesheet" href="/stylesheets/tic-tac-toe.css">
</head>
<div class="content-wrapper">
   <div class="tic-tac-toe-body">
      <div id="menu" class="">
         <p>Do you want to be X or O?</p>
         <input type="button" value="X">
         <input type="button" value="O">
      </div>

      <div id="postgame" style="display: none;">
         <p>
            You lost! Press continue to play again.
         </p>
         <input type="button" value="Reset">
      </div>

      <div class="container">
         <div id="buttons" class="avoid-clicks">
            <div class="row1">
               <input id="0" type="button" class="box addColor" value=" ">
               <input id="1" type="button" class="box addColor" value=" ">
               <input id="2" type="button" class="box addColor" value=" ">
            </div>
            <div class="row2">
               <input id="3" type="button" class="box addColor" value=" ">
               <input id="4" type="button" class="box addColor" value=" ">
               <input id="5" type="button" class="box addColor" value=" ">
            </div>
            <div class="row3">
               <input id="6" type="button" class="box addColor" value=" ">
               <input id="7" type="button" class="box addColor" value=" ">
               <input id="8" type="button" class="box addColor" value=" ">
            </div>
         </div>
      </div>
   </div>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src="/js/tic-tac-toe.js"></script>