<head>
   <meta charset="UTF-8">
   <title>Free Code Camp Wiki Viewer</title>
   <link rel="stylesheet" href="/stylesheets/wiki-viewer.css">
</head>
<div class="wiki-viewer-body">
   <h1 class="heading">Wikipedia Viewer</h1>
   <div id="menu">
      <a class="wiki-button" target="_blank" href="https://en.wikipedia.org/wiki/Special:Random">Click here for a Random Article</a>
      <input class="wiki-search" style="width: 450px; margin: auto;" type="text" id="search" placeholder="Search...">
   </div>
   <ul id="DocumentResults"></ul>
</div>
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
<script src='/js/wiki-viewer.js'></script>