@import url(https://fonts.googleapis.com/css?family=Oswald|Roboto|Roboto+Condensed|Pathway+Gothic+One|Mogra|Yatra+One);

body{
  background-size: 100%;
  background-color: #FF5252;
  background-attachment: fixed;
  text-align: center;
}
.heading{
  color: white;
}
.wrapper {
   font-family: roboto condensed;
   opacity: 0.9;
   background: white;
   border-radius: 25px;
   padding: 35px;
   margin: 50px auto;
   width: 450px;
   overflow: hidden;
   min-height: 250px;
}
h1{
  font-family: roboto condensed;
  font-size: 50px
}
.fa-quote-right{
  font-size: 45px;
}
.quote{
  text-align: center;
  margin-top: 25px;
  font-size: 25px;
  overflow: hidden;
  line-height: 150%;
}
.author{
  text-align: right;
  margin-right: 50px;
  margin-bottom: 30px;
}
.btn{
  background: black;
  color: white;
  border-radius: 7px;
  margin-top: 20px;
  padding: 7px 33px;
  font-family: oswald;
  font-size: 38px;
  border: 3px solid black;
  float: left;
}
.get-quote{
  float: right;
}
.twitter-btn:hover {
  background: #333333;
  color: white;
  border: 3px solid #333333;
}
.get-quote:hover {
  background: #333333;
  color: white;
  border: 3px solid #333333;
}
.get-quote:focus{
  outline:none;
}
.signature{
  color: white;
  margin-top: 8px;
  margin-bottom: 50px;
  font-family: mogra;
  font-size: 30px;
}