<head>
  <meta charset="UTF-8">
  <title>Random Quote Generator</title>
</head>

<div class="wrapper">
   <i class="fa fa-quote-right" aria-hidden="true"></i>
   <h1 class="quote">Awesome Quote Goes here.</h1>
   <h2 class="author"></h2>
   <a href="https://twitter.com/intent/tweet" target="_blank" class="twitter-btn btn">
   <i class="fa fa-twitter" aria-hidden="true"></i> </a>
   <button class="get-quote btn">Get Quote</button>
</div>

<script src="https://use.fontawesome.com/a02a21fc3e.js"></script>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script> 
<script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>