<div class="banner row nav-group">
    <a href=""><img src="../../assets/site-header-proto.png" alt=""></a>    
</div>
<div class="container" [ngClass]="{ in: routeChanged }">
  <div class="nav">
    <!-- <li><a class="link" routerLinkActive="active" routerLink="/blog">Blog</a>
      <span class="underline"></span>
    </li> -->
    <button md-button class="link" routerLinkActive="active" routerLink="/about">About</button>
      <!-- <span class="underline"></span> -->
    
    <button md-button class="link" routerLinkActive="active" routerLink="/portfolio">Portfolio</button>
      <!-- <span class="underline"></span> -->
    
    <button md-button class="link" routerLinkActive="active" routerLink="/contact">Contact</button>
      <!-- <span class="underline"></span> -->
    
    <button md-button class="link" *ngIf="authService.isAuthenticated()" routerLink="admin">Admin</button>
      <!-- <span class="underline"></span> -->
    
    <button md-button class="link" *ngIf="authService.isAuthenticated()" (click)="onLogout()" routerLink="login">Logout</button>
      <!-- <span class="underline"></span> -->
    
    </div> 
</div>