.container {
    width: 100%;
}
.nav {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
}
img{
    max-height: 80px;
    min-height: 50px;
    display: block;
    margin: auto;
}
.top-bar-title {
    font-family: 'sans';
    font-size: 22px;
    color: #ffffff;
}
button {
    background-color: rgba(50,50,50,0.25);
    display: inline-block;
    margin: 5px;
    color: #ffffff;
}
button:focus {
    background-color: #69397B;
    opacity: 0.75;
}