<div class="banner row nav-group">
    <a href=""><img src="../../assets/site-header-proto.png" alt=""></a>    
</div>
<div class="container" [ngClass]="{ in: routeChanged }">
  <div class="nav" (click)="onClick()">
    <button md-button [ngClass]="{ active: currentRoute === '/about' }" 
    class="link" routerLinkActive="active" routerLink="/about">About</button>
    <button md-button class="link" routerLinkActive="active" routerLink="/portfolio">Portfolio</button>
    <button md-button class="link" routerLinkActive="active" routerLink="/contact">Contact</button>
    <button md-button class="link" *ngIf="authService.isAuthenticated()" routerLink="admin">Admin</button>
    <button md-button class="link" *ngIf="authService.isAuthenticated()" 
    (click)="onLogout()" routerLink="login">Logout</button>
    <!-- <li><a class="link" routerLinkActive="active" routerLink="/blog">Blog</a>
      <span class="underline"></span>
    </li> -->
    </div> 
</div>