.navbar {
    background-color: rgba(50,50,50,0.1);
}
.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
}
img{
    max-height: 80px;
    min-height: 50px;
    display: block;
    margin: auto;
}
.navbar-brand {
    font-family: Roboto, Helvetica, sans-serif;
    margin-right: 25px;
}
.top-bar-title {
    font-family: 'sans';
    font-size: 22px;
    color: #ffffff;
}

.nav-menu a {
    color: #ffffff;
}

.nav-menu {
    list-style: none;
}
