<md-card>
    <div class="row">
        <div class="col-md-8">
        <h3>Login to Admin</h3>
    </div>
</div>

    <div class="row">
        <form [formGroup]="form" (ngSubmit)="login()" class="container-fluid">
            <div class="input-group signup">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input class="form-control" 
                placeholder="enter email address" id="email" formControlName="email">         
            </div>
                <br>
            <div class="input-group signup">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input class="form-control" type="password"
                placeholder="Enter Password" id="password" formControlName="password" minlength="1">
            </div>
                <!--display error for invalid password-->
             <div class="alert alert-danger" *ngIf="authService.loginError()">
                {{ authService.errorMSG }}
            </div> 
                <br>
            <button md-raised-button type="submit" [disabled]="!form.valid">Submit</button>
        </form>
    </div>

    <div class="row">
        <div class="pull-right">
            <div class="col-md-4">
                <button md-button class="return" (click)="cancel()">Back to the Main Site</button>
            </div>
        </div>
    </div>
</md-card>