@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.container {
    font-family: 'Rajdhani', sans-serif;
    background-color: rgba(0,0,0,0.2);
    max-width: 325px;
    min-width: 190px;
    margin-bottom: 75px;
}
h2 {
    text-align: center; 
}
form {
    width: 100%;
    margin-top: 35px;
    font-size: 1.8rem;
    justify-content: center;
    font-family: sans-serif;
    margin: auto;
}
md-input-container {
    width: 95%;
}
md-select {
    padding-top: 30px;
    width: 100%;
}
label {
    width: 100%;
}
.comments {
    margin: 30px 0 20px 0; 
}
textarea {
    padding: 5px; 
    width: 100%;
    max-width: 252px;   
    outline: none;
    min-height: 75px;  
    font-family: sans-serif;
}