  <md-card class="container">
    <h2> Get In Touch </h2>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <md-input-container>
          <input mdInput placeholder="First Name" formControlName="firstname">
          <md-error *ngIf="!form.controls.firstname.valid && form.controls.firstname.touched">
            Name is <strong>required</strong>
          </md-error>  
        </md-input-container>

        <md-input-container>
          <input mdInput placeholder="Email" formControlName="email">
          <md-error *ngIf="!form.controls.email.valid && form.controls.email.touched">
            Email is <strong>required</strong>
          </md-error>
        </md-input-container>

        <md-input-container>
          <input mdInput placeholder="Phone Number" formControlName="phone" type="tel" pattern="/[0-9]|\(|\)\-|\s/g {16}" required
          value="{{ parsed }}" (keypress)="parsePhoneNumber($event)" maxlength="16">
          <md-error *ngIf="!form.controls.phone.valid && form.controls.phone.touched">
            Phone number is <strong>required</strong>
          </md-error>  
        </md-input-container> 

        <md-select placeholder="Subject" formControlName="subject">
          <md-option *ngFor="let subject of subjects" [value]="subject.value">
            {{ subject.value }}
          </md-option>
           <md-error *ngIf="!form.controls.subject.valid && form.controls.subject.touched">
            Choose a subject
          </md-error>   
        </md-select>

        <md-input-container class="comments">
          <textarea mdInput placeholder="Comments.." cols="24" formControlName="comments"></textarea>
          <md-error *ngIf="!form.controls.comments.valid && form.controls.comments.touched">
              Comment is <strong>required</strong>
          </md-error>
        </md-input-container>
            
        <button type="submit" [disabled]="!form.valid" md-raised-button>Send</button>
    </form>
  </md-card>