@import url('https://fonts.googleapis.com/css?family=Rajdhani');

.container {
    font-family: 'Rajdhani', sans-serif;
    max-width: 300px;
    min-width: 190px;
    text-align: center;
    margin-bottom: 75px;
}
form {
    width: 100%;
    margin-top: 35px;
    font-size: 1.8rem;
    justify-content: center;
    margin: auto;
}
md-input-container {
    width: 95%;
}
textarea {
    padding: 5px;
    outline: none;
    min-height: 50px;
    max-width: 233px;
    font-family: sans-serif;
}