<div class="container">
  <div class="flex-item title">
    <h1>Portfolio</h1>
  </div>
  <md-card class="flex-item" *ngFor="let project of projects">

   <a href="{{ project.href }}" *ngIf="project.href"><div class="media-group" on-mouseenter="toggle($event)" on-mouseleave="toggle($event)">
      <p class="media media-text hidden">{{ project.description }}</p>
      <a><img class="media" src="{{ project.imgSrc }}" alt="Screenshot 2017 01 25 at 8 02 57 PM" border="0" />
      <h3 class="media">{{ project.name }}</h3></a>
   </div></a>

   <a routerLinkActive="active" *ngIf="project.route" routerLink="/project{{ project.route }}" class="link"><div class="media-group" on-mouseenter="toggle($event)" on-mouseleave="toggle($event)">
      <p class="media media-text hidden">{{ project.description }}</p>
      <a><img class="media" src="{{ project.imgSrc }}" alt="Screenshot 2017 01 25 at 8 02 57 PM" border="0" />
      <h3 class="media">{{ project.name }}</h3></a>
    </div></a>
  </md-card>
</div>