@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Quicksand|Rajdhani');

@media screen and (min-width: 650px) {
    .container {
        max-height: 1500px;
        flex-wrap: wrap;
    }
    .flex-item {
        width: 310px;
    }
}
.active {
    transition: 0.1s; 
     background-color: red;
     opacity: 0.2;
}
.hidden {
    opacity: 0;
}
.blur {
    filter: blur( 2px );
}
.media {
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: -1;
}
.media-group {
    cursor: pointer;
    border-radius: 3px; 
    height: 100%;
    width: 100%;
    z-index: 25;
}
.media-text {
    position: absolute;
    font-weight: bold;
    font-size: 25px;
    font-family: sans-serif;
    padding: 25px 18px 30px 18px;
    color: white;
    z-index: 50;
}
.container {
    font-family: 'Rajdhani', sans-serif;
    max-width: 695px;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 75px;
}
.flex-item {
    transition: all 0.2s ease-in-out;
    background-color: rgba(0,0,0,0.2);
    margin: 15px 15px 50px 15px;
    filter: grayscale(25%);
    border-radius: 3px; 
    font-family: inherit;
    overflow: hidden;
    /* width: 310px; */
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0;
    z-index: 1;
}
.title {
    cursor: pointer;
    display: block;
    color: white;
    text-align: center;
    background: #69397B;
    margin-top: 15px;
    height: 80px;
    opacity: 0.75;
}
img, .img {
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    background-color: rgb(0,0,0,0.1); 
    border-radius: 3px 3px 0 0;
    opacity: 0.9;
    width: 100%;
}
.flex-item:hover {
    transition: 0.2s;
    /* background-color: #E69748; */ 
    /* box-shadow: 5px 8px 25px grey; */
    transform: scale(1.05);
}
h3, .h3 {
    display: flex;
    table-layout: fixed;
    position: relative;
    padding: 15px;
    float: none;
    margin: auto;
    z-index: 15;
    color: white;
}
a, .a {
    text-decoration: none;
    color: black;
}