<div class="container">
  <div class="row">
    
    <div id="column" class="col-xs-6">
      <div class="flex-item" id="title">
        <h1>Portfolio</h1>
      </div>  
      <div class="row-1" *ngFor="let project of row1">
        <a class="flex-item" href="{{ project.href }}" target="_blank">
          <img src="{{ project.imgSrc }}" alt="Screenshot 2017 01 25 at 8 02 57 PM" border="0" />
          <h3>{{ project.name }}</h3>
        </a>
      </div>
    </div>

    <div id="column" class="col-xs-6">
      <div class="row-2" *ngFor="let project of row2">
        <a class="flex-item" href="{{ project.href }}" target="_blank">
          <img src="{{ project.imgSrc }}" alt="Screenshot 2017 01 25 at 8 02 57 PM" border="0" />
          <h3>{{ project.name }}</h3>
        </a>
      </div> 
    </div>

  </div>
</div>