@import url('https://fonts.googleapis.com/css?family=Advent+Pro|Quicksand|Rajdhani');

@media screen and (min-width: 400px) {
    .container {
        max-height: 1200px;
    }
}
.container {
    font-family: 'Rajdhani', sans-serif;
    max-width: 690px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 75px;
}
.flex-item {
    box-shadow: 2px 2px 5px grey; 
    transition: all 0.2s ease-in-out;
    margin: 15px 15px 50px 15px;
    border-radius: 3px; 
    width: 310px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0; 
    color: black;
    z-index: 1;
}
.title {
    display: block;
    color: white;
    text-align: center;
    background: #69397B;
    margin-top: 15px;
    height: 80px;
}
img, .img {
    flex-grow: 1;
    height: inherit;
    overflow: hidden;
    border-radius: 3px 3px 0 0;
    width: 100%;
}
.flex-item:hover {
    background-color: rgba(200,100,0,.5);
    background-blend-mode: multiply;
    box-shadow: 5px 8px 25px grey;
    transform: scale(1.075);
}
h3, .h3 {
    padding: 15px;
    float: none;
    margin: auto;
    display: table;
    table-layout: fixed;
}
a, .a {
    text-decoration: none;
    color: black;
}