<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <label>New Post</label>
        <button *ngIf="currentURL !== '/admin/new'" (click)="toggle()" style="outline: none"
        class="btn btn-default pull-right" data-toggle="collapse" href="#collapse1"><i style="padding: 3px" 
        class="glyphicon" [ngClass]="{ 'glyphicon-triangle-bottom' : !isOpen, 'glyphicon-triangle-top' : isOpen }"></i></button>
      </div>
    </div>
  </div>
  <div class="panel-collapse collapse" 
    [ngClass]="{ in: currentURL === '/admin/new'}" id="collapse1">
    <div class="panel-body">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
          <div class="col-md-12 col-sm-12 col-xs-12">
          <label for="title">Title</label>

            <input type="title" class="form-control"
            [(ngModel)]="title" name="title" required #em="ngModel" minlength="1">

            <label for="title">Subtitle</label>

            <input type="title" class="form-control"
            [(ngModel)]="subtitle" name="subtitle" required #st="ngModel" minlength="1" maxlength="160">

            <label for="title">Body</label>
            <textarea type="body" class="form-control"
            [(ngModel)]="body" name="body" required #bdy="ngModel" minlength="1"></textarea>
            <label for="img">Image</label>
            <br>
            <div class="row">
              <div class="col-xs-8">
                <input type="file" id="file" (change)="fileLoad($event)">
                <img alt="Image preview..." *ngIf="imageSRC" [src]="imageSRC">
              </div>
              <div class="col-xs-4">
                <button class="btn btn-success" style="width: 100%" 
                type="submit" [disabled]="!f.valid">Add Post</button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>