.handle {
    color: #ccc;
}
.container {
    display: flex;
}
.media {
    padding: 15px;
    padding: 0;
    min-width: 300px;
    max-width: 500px;
    margin-bottom: 60px;
    border-radius: 4px;
    justify-content: center;
    box-shadow: 4px 4px 15px grey;
}
.crop {
    width: 120%;
    height: 100px;
    overflow: hidden;
    background: #222222;
    margin-bottom: 10px;
}
.media-object {
    background-position: center center;
    height: 180px;
}
.media-body {
    padding: 15px;
}
.content {
    height: 40px;
    overflow: hidden;
}
.media-heading {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-decoration: none;
}